<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_detail.order_id %>
</p>

<p>
  <strong>Menu item:</strong>
  <%= @order_detail.menu_item_id %>
</p>

<p>
  <strong>Menu item name:</strong>
  <%= @order_detail.menu_item_name %>
</p>

<p>
  <strong>Menu price:</strong>
  <%= @order_detail.menu_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_detail.quantity %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order_detail.total %>
</p>

<%= link_to 'Edit', edit_order_detail_path(@order_detail) %> |
<%= link_to 'Back', order_details_path %>
